<h1>checkitouuuut</h1>
<% if @user %>
    <%=link_to 'New Post', '/posts/new' %>
    <%=link_to 'User Page', "/users/#{@user.id}" %>
    <%=link_to 'Log Out', logout_path %>
<% else %>
    <%= link_to 'Log In', signin_path %>
    <%= link_to 'Sign Up', '/users/new' %>
<% end %>
<br>
<br>
<%= form_tag(root_path, method: "get") do %>
  <div>
    <%= select_tag :order, options_for_select(['Newest Posts', 'Oldest Posts']), {prompt: "Sort Posts"} %>
    <%= submit_tag "Sort", name: nil %>
  </div>
<% end %>
<%= form_tag root_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query], placeholder: "Search Posts" %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>

<%= render "display" %>
