<h1>welcome</h1>
<ol>
<% @posts.each do |p| %>
    <li>
    <% if p.url != "" %>
        <h3><%= link_to p.title, p.url %></h3>
    <% else %>
        <h3><%= link_to p.title, post_path(p) %></h3>
    <% end %>
     <%= link_to "comments", post_path(p) %>
    by <%= link_to p.user.name, user_path(p.user) %></li> <br>
<% end %>
<br>
<br>
</ol>

<% if @user %>
    <%=link_to 'New Post', '/posts/new' %>
    <%=link_to 'User Page', "/users/#{@user.id}" %>
    <%=link_to 'Log Out', logout_path %>
<% else %>
    <%= link_to 'Log In', signin_path %>
    <%= link_to 'Sign Up', '/users/new' %>
<% end %>